<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>User stats</title>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="../javascripts/charts.js"></script>
    <script src="../components/angular-google-chart/ng-google-chart.js"></script>
</head>
<body ng-app="LoginPage" class="container" ng-controller="ChartsCtrl">
    <div>
        <div google-chart chart="chart" style="{{chart.cssStyle}}"/>
    </div>

    <h3 class="text-center" ng-if="chart">Year &nbsp;<select ng-model="selectedYear.year" ng-options="year for year in years"></select></h3>
</body>
</html>
